/* Fuente y configuración general */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
}

/* Estilos para el encabezado */
header {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilo para secciones */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
}

/* Colores alternos para separar secciones */
#justificacion {
    background-color: #e7f3fe;
    text-align: justify;
}

#relevancia {
    background-color: #d0e7f8;
    text-align: justify;
}

/* Estilo para la sección del equipo */
#equipo {
    background-color: #f4faff;
    padding: 40px 20px;
    text-align: center;
}

#equipo h2 {
    margin-bottom: 20px;
}

.miembro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.miembro img {
    border-radius: 8px; /* Cambiado de circular a bordes ligeramente redondeados */
    width: 150px; /* Ajusta el tamaño aquí */
    height: 150px; /* Mantén un formato cuadrado */
    margin-left: 125px;
    margin-right: 125px;
    object-fit: cover;
    margin-bottom: 15px;
}

.miembro h3 {
    margin: 0;
    font-size: 1.4em;
    color: #003366;
}

.miembro p {
    margin: 5px 10px 0;
    white-space: pre-wrap; /* Mantiene los saltos de línea y espacios */
    overflow-wrap: break-word; /* Divide palabras largas si es necesario */
    text-align: justify;
}

/* Ajustes de responsividad */
@media (max-width: 768px) {
    .miembro {
        flex-direction: column;
        text-align: center;
    }

    .miembro img {
        margin: 0 0px 10px 0;
    }
}

/* Estilo para el carrusel */
.team-carousel {
    position: relative;
}

/* Estilos para las flechas */
.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    background-color: #003366; /* Color de fondo */
    color: white; /* Color de las flechas */
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    z-index: 1;
}

.slick-prev {
    left: 10px; /* Posición horizontal de la flecha izquierda */
}

.slick-next {
    right: 10px; /* Posición horizontal de la flecha derecha */
}

.slick-prev::before,
.slick-next::before {
    font-family: "Arial", sans-serif;
    content: "◀"; /* Código para la flecha izquierda */
}

.slick-next::before {
    content: "▶"; /* Código para la flecha derecha */
}

/* Estilos específicos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #003366;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #003366;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #003366;
}

/* Imagenes de data visualization */

section img {
    width: 100%;
    height: auto;
    max-width: 600px; /* Ajusta este valor según el tamaño deseado */
    display: block;
    margin: 0 auto 20px; /* Centra las imágenes y añade un margen inferior */
}

section#data-visualization img {
    width: 100%;
    height: auto;
    max-width: 600px; /* Ajusta este valor según el tamaño deseado */
    display: block;
    margin: 0 auto 20px; /* Centra las imágenes y añade un margen inferior */
}

/* Estilos para las imágenes ampliables */
/* Estilos para las imágenes ampliables */
.zoomable {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.zoomable:hover {
    transform: scale(1.05);
}

/* Estilos para la ampliación en el lugar */
.zoomable.expanded {
    transform: scale(2); /* Ajusta el valor según el tamaño deseado */
    z-index: 1000;
    position: relative;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content img {
    width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}